{% load static %}

<div class="depertment-list">
    <a href="{% url 'cardiologists_dept' %}"><i class="flaticon-heart"></i> Cardilogists Depertment</a>
    <a href="{% url 'orthopaedics_dept' %}"><i class="flaticon-broken-bone"></i> Orthopaedics Depertment</a>
    <a href="{% url 'gastroenterology_dept' %}"><i class="flaticon-stomach-1"></i> Gastroenterology Depertment</a>
    <a href="{% url 'neuroscience_dept' %}"><i class="flaticon-brain"></i> Neurosciences Depertment</a>
    <a href="{% url 'spine_dept' %}"><i class="flaticon-spine-bone"></i> Spine Depertment</a>
    <a href="{% url 'cancer_dept' %}"><i class="flaticon-virus"></i> Cancer Depertment</a>
    <a href="{% url 'colorectal_dept' %}"><i class="flaticon-kidney"></i> Colorectal Depertment</a>
    <a href="{% url 'bariatric_dept' %}"><i class="flaticon-liver"></i> Bariatric Depertment</a>
</div>