{% load static %}

<script type="text/javascript" src="{% static 'temp/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="{% static 'temp/js/bootstrap.min.js' %}"></script>

<!-- all plugins and JavaScript -->
<script type="text/javascript" src="{% static 'temp/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'temp/js/css3-animate-it.js' %}"></script>
<script type="text/javascript" src="{% static 'temp/js/bootstrap-dropdownhover.min.js' %}"></script>
<script type="text/javascript" src="{% static 'temp/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'temp/js/gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'temp/js/player.min.js' %}"></script>
<script type="text/javascript" src="{% static 'temp/js/retina.js' %}"></script>
<script type="text/javascript" src="{% static 'temp/js/comming-soon.js' %}"></script>

<!-- Main Custom JS -->
<script type="text/javascript" src="{% static 'temp/js/script.js' %}"></script>

 